$white: #fff;

$blue: #2b3a49;
$bg-blue: #1d2631;
$text-grey: #283645;
$menu-color: #1d2631;
$pink: #d22856;
$screen-mobile: 320px;
$bg-grey: #f2f2f2;


/*Typography*/

$font-family: 'Open Sans',Arial,Helvetica,sans-serif;
$font-size-base: 14px;
$font-size-title: 24px;

/**/
