@import "./blocks/mixins.scss";
@import "./blocks/header.scss";
@import "./blocks/intro.scss";
@import "./blocks/promo.scss";
@import "./blocks/slider.scss";
@import "./blocks/price.scss";
@import "./blocks/contacts.scss";
@import "./blocks/footer.scss";

@import "./blocks/form_intro.scss";

@import "./blocks/form_footer.scss";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300&subset=cyrillic);
$white: #fff;

$blue: #2b3a49;
$bg-blue: #1d2631;
$text-grey: #283645;
$pink: #d22856;
$screen-mobile: 320px;


/*Typography*/

$font-family: 'Open Sans',Arial,Helvetica,sans-serif;
$font-size-base: 14px;
$font-size-title: 24px;

/**/


html {
    box-sizing: border-box;
}

body {
    font-family: $font-family;
}

.page {
    background: $white;
    // 	@media screen and (min-width:320px) and (max-width: 700px) {
    // 		background: $white;
    // }
}


