.copyright {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	@include wrapper;
	&__text {
		@include text-style-base;
		color: $text-color;
		padding-right: 20px;
		@media($tablet) {
			font-size: $font-size-middle;
			padding-bottom: 20px;
		}
	}
	&__link {
		display: block;
		height: 34px;
		width: 27px;
		@media($tablet) {
			margin-bottom: 18px;
		}
	}
	&__link svg #htmlacademy {
		fill: #D22856;
	}
	&__link svg:hover #htmlacademy {
		fill: #283645;
	}
	&__link svg:active #htmlacademy {
		fill: #bec2c7;
	}
}
