.main-footer {
	@media screen and ($mobile) {
		height: 0;
		overflow: hidden;
	}
	@media($tablet) {
		display: flex;
		justify-content: space-between;
	}
	&__link {}
	&__logo-img {}
	&__text {
		@include text-style-base;
		color: $text-color;
		padding-right: 20px;
	}
}

.main-footer--form {
	@media screen and ($mobile) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 280px;
		padding: 30px;
		text-align: center;
	}
}
