.input {
	position: relative;
	display: block;
	border: 2px solid $color-grey;
	padding: 15px;
	width: 100%;
	&--numeral {
		@media($mobile) {
			width: 213px;
		}
	}
	&--border {
		border: 2px solid $color-grey;
	}
	&:hover {
		border: 2px solid $color-outer-space;
	}
	&:focus {
		border: 2px solid $color-pink;
	}
}
