.numeral-inputs {
	counter-reset: list 0;
	&__item {
		list-style-type: none;
		position: relative;
		@media($tablet) {
			padding-bottom: 10px;
			padding-left: 60px;
			right: 60px;
		}
	}
	&__item:before {
		counter-increment: list;
		content: counter(list);
		margin-left: -37px;
		display: block;
		width: 60px;
		height: 59px;
		line-height: 60px;
		text-align: center;
		float: left;
		background: $color-smoke;
		outline: 2px solid #e5e5e5;
		color: $text-color;
		margin-top: 47px;
	}
	&__item:after {
		position: absolute;
		content: '№';
		left: -14px;
		top: 15px;
		color: $color-pink;
		@media($tablet) {
			left: 45px;
		}
	}
	&__item .label {
		display: block;
		line-height: 1.5em;
		padding-left: 45px;
	}
	&__item .input {
		height: 63px;
		line-height: 1em;
		box-sizing: border-box;
	}
}

&__item .input[type="text"] {
	width: calc(100% - 126px);
	@include wrapper;
	color: #000;
	margin: 0 auto;
	padding: 17px 20px 13px;
	box-sizing: border-box;
}
