/*Mixins*/
@mixin link-decoration ($color: $white, $weight:300) {
text-decoration: none;
color: $white;
weight: $weight;
}

@mixin text-style-base($size: 24px, $weight:300) {
color: $white;
font: {
family: $font-family;
size: $size;
weight: $weight;
	}
}


@mixin wrapper {
padding: 0 20px;
}

@mixin clearfix() {
&:after{
display: table;
content: '';
clear: both;
	}
}

@mixin social-icon {
	display: block;
	height: 50px;
	width: 50px;
}

@mixin text-null {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}

@mixin glif {
	position: absolute;
	right: 20px;
	top: 15px;
	width: 26px;
	height: 26px;
}
/**/
