$mobile: ('max-width: 700px');
$tablet: ('max-width: 1200px');
$desktop: ('min-width: 1200px');


$color-white: #fff;
$color-pink: #d22856;
$color-grey: #e5e5e5;
$color-smoke: #f2f2f2;
$color-outer-space: #283645;


$menu-color: $color-outer-space;
$text-color: $color-outer-space;


/*Typography*/

$font-family: 'Open Sans',Arial,Helvetica,sans-serif;
$font-size-base: 14px;
$font-size-middle: 18px;
$font-size-title: 24px;

/**/
