$white: #fff;
$bg-blue: #1d2631;
$menu-color: $bg-blue;
$blue: #2b3a49;
$text-grey: #283645;
$pink: #d22856;

/*Typography*/

$font-family: 'Open Sans',Arial,Helvetica,sans-serif;
$font-size-base: 14px;
$font-size-title: 24px;

/**/
