html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: $font-family;
}

fieldset {

	@media($mobile) {
			border: none;
	}
}

blockquote {
	margin: 0;
	padding: 0;
}

// img {
// 	width: 100%;
// 	height: auto;
// }

.page {
	background: $color-white;
}


.js-menu {
	display: none;
			@media($desktop) {
			display: block;
		}
}

.js-menu--open {
	display: block;
}

.main-menu__btn .js-menu--open  {
	display: block;
	background: url(../img/no.svg) no-repeat;
}


.slider .flickity-page-dots {
	@media screen and ($tablet) {
		bottom: 30px;
	}

	@media screen and ($desktop) {
		background: none;
	}

}

.slider .flickity-page-dots .dot {
		@media($desktop) {
			display: none;
	}
}
.flickity-prev-next-button {
	@media($desktop) {
		display: block;
	}
}

