html {
		box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
		font-family: $font-family;
}

fieldset {border: none;}

.page {
		background: $white;
		// 	@media screen and ($mobile) {
		// 		background: $white;
		// }
}


