html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: $font-family;
}

fieldset {
	border: none;
}

blockquote {
	margin: 0;
	padding: 0;
}

.page {
	background: $color-white;
}

// .container {
// 	padding: 0 40px;
// }

.js-menu {
	display: none;
}

.js-menu--open {
	display: block;
	background: url(../img/no.svg) no-repeat;
}

.js-menu--close {

	width: 27px;
	height: 27px;
	padding-left: 5px;

}


.flickity-page-dots {
	@media screen and ($tablet) {
		bottom: 30px!important; //перебиваем стили подключенной библиотеки под себя
	}
}
