html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: $font-family;
}

fieldset {
	padding: 0;
	margin: 0;
	@media($mobile) {
		border: none;
	}
}

blockquote {
	margin: 0;
	padding: 0;
}

.content-wrapper {
	max-width: 940px;
	margin-right: auto;
	margin-left: auto;

	&--flex {
		display: flex;
	}
}

.page {
	background: $color-white;
}
