.btn-info {
	text-align: center;
	padding: 45px 0;

	&__description {
		@include text-decoration;
		font-size: $font-size-base;
}
	&__main-link {

		@include link-decoration;
		border: 2px solid $white;
		border-radius: 30px;
		padding: 16px 37px;
		font-weight: bold;

	}
}
