.label-check {
	line-height: 30px;
	padding-left: 50px;
	padding-top: 30px;

	@media($tablet) {
		font-size: $font-size-middle;
		padding-left: 65px;
	}
	&:before {
		cursor: pointer;
		content: "";
		position: absolute;
		width: 35px;
		height: 35px;
		background-color: $color-white;
		border: 2px solid $color-smoke;
		left: 0;
	}
}

.page-form input[type=checkbox] {
	position: relative;
	margin: 10px;
	display: none;
}

.page-form input[type=checkbox]:checked + label:after {
	content: "";
	position: absolute;
	left: 3px;
	top: 37px;
	width: 28px;
	height: 26px;
	background: url(../img/yes.svg) no-repeat;
	z-index: 100;
}

.form__info input[type=checkbox] {
	position: relative;
	margin: 10px;
	display: none;
}

input[type=file] {
	position: absolute;
	left: 0px;
	top: 42px;
	display: block;
	opacity: 0;
	z-index: 1000;
	cursor: pointer;

	@media($mobile) {
		left: 19px;
		top: 98px;
	}
}

.form__info input[type=checkbox]:checked + label:after {
	content: "";
	position: absolute;
	left: 3px;
	top: 37px;
	width: 28px;
	height: 26px;
	background: url(../img/yes.svg) no-repeat;
	z-index: 100;
}
