.contacts {

&__title {
	color: text-content;
	font-weight: normal;
	text-align: center;
}s

&__box {}

&__descrip {
	font-weight: bold;
	text-align: center;

}

&__text {
		@include text-style-base;
		text-align: center;
		color: $color-pink;
}

&__link {
		@include link-decoration;
		color: $color-pink;
}

&__map {}

&__img {
	width: 100%;
}

}
