.social {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 40px 0 50px 0;

	&__link {
		border: 3px solid #e9ebec;
		border-radius: 50%;

		@include text-null;

			&--twitter {
			background: url(../img/twitter-logo.png) no-repeat 50%;
			@include social-icon;
		}

	&--fb {
			background: url(../img/facebook-logo.png) no-repeat 50%;
			margin: 0 10px 0 10px;
			@include social-icon;
		}

		&--youtube {
			background: url(../img/youtube-logo.png) no-repeat 50%;
			@include social-icon;
		}

	}
}
