.form {
@media($tablet) {
	@include wrapper;
}


	&__wrap {
		@media($tablet) {
		display: flex;
		}
	}

	&__info {
		@include wrapper;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		border: none;
		min-height: 338px;

		@media($tablet) {
			border: 2px solid $color-grey;
			margin-bottom: 60px;
		}
		&--bg-grey {
			@media($mobile) {
			background: $color-smoke;
			}

		}
		// @media($tablet) {
		// 	border: 1px solid blue;
		// }
	}
	&__btn {
		display: block;
		margin: 22px auto;
		padding: 18px 0 15px;
		width: 280px;
		@include text-style-base;
		font-weight: 700;
		font: $font-size-middle;
		color: #fff;
		background-color: #2aab6d;
		border: none;
		border-radius: 3px;

		@media($tablet) {
			margin-left: 40px;
		}
	}
	&__desription {
		text-align: center;
		text-transform: uppercase;

		@media($tablet) {
			padding-right: 40px;
			padding-top: 30px;
		}
	}
}
