.page-form {

 &__desription {
	text-align: center;
	@include wrapper;
	color: $text-grey;
	line-height: 2px;
	}
}

.page-form input[type=text] {
	@include wrapper;
	color: #000;
	margin: 0 auto;
	padding: 17px 20px 13px;
	width: 276px;

}

.page-form input[type="radio"] {
		position: relative;
		margin: 10px;
		display: none;
}

.page-form input[type=radio]:checked + label:after {
		// content: "\2022";
		content: "";
		position: absolute;
		left: 12px;
		top: 42px;
		width: 15px;
		height: 15px;
		background-color: $pink;
		border-radius: 50%;
		z-index: 100;
}

.label {

	color: $text-grey;
	font-size: $font-size-base;
	display: block;
	position: relative;
	padding-left: 50px;
	padding-top: 30px;

	&--pink {
		color: $pink;
		text-transform: uppercase;
		text-align: center;

		margin: 0 0 3px;
	}
}


.label-radio {
		line-height: 30px;
	&:before
 {
		cursor: pointer;
		content: "";
		position: absolute;
		width: 35px;
		height: 35px;
		background-color: #fff;
		border-radius: 50%;
		border: 2px solid #e6e6e6;
		left:0;

	}
}


.form__info {
		@include wrapper;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		border: none;
		min-height: 338px;

	&--bg-grey {
		background: $bg-grey;
	}
}

.legend {
	color: $pink;
	text-align: center;
	text-transform: uppercase;
	padding-top: 40px;

}
.input {
	position: relative;font-size: 18px;
	@include wrapper;

}
