.form {
@media($tablet) {
	@include wrapper;
}

@media($desktop) {
	padding: 0 10px;
}


	&__wrap {
		@media($tablet) {
		display: flex;
		}
	}

		&__container {
		@media($tablet) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	@media($desktop) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

		&--container {
			@media($tablet) {
				padding: 0 20px;
			}
		}


	&__info {
		position: relative;
		@include wrapper;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		border: none;

		@media($mobile) {
			margin-top: 40px;
		}

		@media($tablet) {
			border: 2px solid $color-grey;
			margin-bottom: 60px;
		}

	}
		&__info--bg-grey {
			@media($mobile) {
			background: $color-smoke;
			}

		}

	&__btn {
		display: block;
		margin: 22px auto;
		padding: 18px 0 15px;
		width: 280px;
		@include text-style-base;
		font-weight: 700;
		font: $font-size-middle;
		color: #fff;
		background-color: #2aab6d;
		border: none;
		border-radius: 3px;

		@media($tablet) {
			margin-left: 0px;
		}

		@media($desktop) {
			font-size: $font-size-middle;
			text-transform: uppercase
		}
	}

	&__btn:hover {
		background: #1c9b5e;
	}
	&__btn:focus {
		color: #61b98f;
	}

	&__btn:disabled {
		background: $color-grey;
	}

	&__desription {
		text-align: center;
		text-transform: uppercase;

		@media($tablet) {
			padding-top: 30px;
		}

		@media($desktop) {
			display: none;
		}
	}

	&__desription--desktop {
		@media($mobile) {
			display: none;
		}
		@media($tablet) {
			display: none;
		}
		@media($desktop) {
			display: block;
			text-align: center;
			text-transform: uppercase;
			padding-top: 30px;
		}
	}

	&--no-border {
		@media($tablet) {
			border: none;
		}
	}

&__info-wrapper {
	@media($tablet) {
	width: 100%;
	margin: 0 14px;

	}

	@media($desktop) {
	width: 30%;
		}
	}

	&__info-wrapper--numeral {
		@media($desktop) {
			width: 45%;
		}
	}

}

