

.page-form input[type=text] {
	@include wrapper;
	color: #000;
	margin: 0 auto;
	padding: 17px 20px 13px;
	width: calc(100% - 126px)

}

.page-form input[type=file] {
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		opacity: 0;
		z-index: 1000;
		cursor: pointer;
}


.label {

	color: $text-grey;
	display: block;
	position: relative;


	&--pink {
		color: $pink;
		text-transform: uppercase;
		text-align: center;
		padding-top: 11px;
		margin: 0 0 3px;
	}
	&:last-child {
		padding-bottom: 45px;
	}
}





.form__info {
		// @include wrapper;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		border: none;
		min-height: 338px;

	&--bg-grey {
		background: $bg-grey;
	}

	}

.legend {
	color: $pink;
	text-align: center;
	text-transform: uppercase;
	padding-top: 40px;
	padding-bottom: 40px;

}
.input {
	position: relative;
	@include wrapper;
}

.form__btn {
		display: block;
		margin: 22px auto;
    padding: 18px 0 15px;
    width: 280px;
    @include text-decoration;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    background-color: #2aab6d;
    border: none;
    border-radius: 3px;
	}
