.main-header {
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 66px;

	@media($desktop) {
		height: 110px;
	}

	&__menu {
		color: $color-white;
	}
	&__logo {
		@media($desktop) {
			float: left;
		}

		}

	&__section {
		@media($desktop) {
			width: 600px;
			float: right;
			padding-left: 25px;
		}
	}
}
