.input {
	position: relative;
	display: block;
	border: 2px solid $color-grey;
	padding: 15px;
	width: 100%;


	@media($mobile) {
		width: 275px;
	}

	&--tablet {
		@media($tablet) {
			height: 60px;
		}
	}

	&--numeral {
		@media($tablet) {
			width: 300px;
		}
	}

	&--voyager {
		@media($tablet) {
			width: 130px;
			border: 0;
		}
	}
}
