.input {
	position: relative;
	display: block;
	border: 2px solid $color-grey;
	padding: 15px;
	width: 100%;
	&--numeral {
		@media($mobile) {
			width: 213px;
		}
	}
	&:hover {
		border: 2px solid $color-outer-space;
	}
	&:focus {
		border: 2px solid $color-pink;
	}
}

input[type=file] {
	position: absolute;
	left: 0px;
	top: 42px;
	display: block;
	opacity: 0;
	z-index: 1000;
	cursor: pointer;
	@media($mobile) {
		left: 19px;
		top: 98px;
	}
}
