.intro-form {
	background: url(../img/bg-intro.png) no-repeat top;
	background-size: cover;
	min-height: 237px;

	&__title {
		@include text-style-base;
		@include wrapper;
		text-align: center;
		padding-top: 84px;
	}
}
