/*Intro*/
/*Mixins*/
$font-family: 'Open Sans',Arial,Helvetica,sans-serif;
$font-size-base: 14px;
$font-size-title: 24px;
  @mixin link-decoration {
    text-decoration: none;
    color: $white;
}

@mixin text-decoration($size: 24px, $weight:300) {
    color: $white;
    font: {
        family: $font-family;
        size: $size;
        weight: $weight;

    }
}

@mixin wrapper {
    padding: 0 20px;
}

@mixin clearfix() {
	&:after{
    display: table;
    content: '';
    clear: both;
  }
}




/**/




.intro {
	background: url(../img/bg-intro.png) no-repeat top, url(../img/iphone-in-the-hand.png) no-repeat left 173px;
	background-size: cover;
	width: 100%;
	min-height: 458px;
	&__title {
		text-align: center;
		padding-top: 84px;
		@include text-decoration;
		font-size: 14px;
		font-weight: 300;
	}
}

// 	.btn-intro__description {
// 		@include text-decoration;
// 		font-size: $font-size-base;
// 	&__main-link {
// 		@include link-decoration border: 2px solid $white;
// 		border-radius: 30px;
// 		padding: 16px 37px;
// 		margin: 0 auto;
// 	}
// }

// .platform {
// 	min-height: 271px;
// 	background: $blue;
// 	width: $screen-mobile;
// 	display: flex;
// 	justify-content: space-around;
// 	align-items: baseline;
// 	&__icon {}
// 	&__description {
// 		@include text-decoration;
// 		font-size: $font-size-base;
// 	}
// }

// .promo {
// 	width: $screen-mobile;
// 	&__item {}
// 	&__title {
// 		@include text-decoration;
// 		color: #454036;
// 		text-align: center;
// 		font-weight: 300;
// 		line-height: 1.2;
// 	}
// 	&__subtitle {
// 		text-align: center;
// 	}
// }
