/*Intro*/
/*Mixins*/
$font-family: 'Open Sans',Arial,Helvetica,sans-serif;
$font-size-base: 14px;
$font-size-title: 24px;
$blue: #2b3a49;
$bg-blue: #1d2631;
$screen-mobile: 320px;
  @mixin link-decoration {
    text-decoration: none;
    color: $white;
}

@mixin text-decoration($size: 24px, $weight:300) {
    color: $white;
    font: {
        family: $font-family;
        size: $size;
        weight: $weight;

    }
}

@mixin wrapper {
    padding: 0 20px;
}

@mixin clearfix() {
	&:after{
    display: table;
    content: '';
    clear: both;
  }
}




/**/




.intro {
	background: url(../img/bg-intro.png) no-repeat top, url(../img/iphone-in-the-hand.png) no-repeat left 173px;
	background-size: cover;
	width: 100%;
	min-height: 458px;
	overflow: hidden;

	&__title {
		text-align: center;
		padding-top: 84px;
		@include text-decoration;
	}
}

.btn-info {
	text-align: center;
	padding: 45px 0;

	&__description {
		@include text-decoration;
		font-size: $font-size-base;
}
	&__main-link {

		@include link-decoration;
		border: 2px solid $white;
		border-radius: 30px;
		padding: 16px 37px;
		font-weight: bold;

	}
}

.platform-info {
	min-height: 271px;
	background: $bg-blue;

 	&__description {
 		font-size: $font-size-base;
 		font-weight: 500;
 		text-align: center;
 		color: $white;
 		@include wrapper;
	}
}

.platform {
	display: flex;
	justify-content: space-around;
	align-items: baseline;

	&__icon {}

	&__description {
		@include text-decoration;
		font-size: $font-size-base;

	}
}
