.label {
	color: text-content;
	display: block;
	position: relative;
	&--pink {
		color: $color-pink;
		text-transform: uppercase;
		text-align: center;
		padding-top: 18px;
		padding-bottom: 25px;
		margin: 0 0 3px;
	}
	&--pink-title {
		color: $color-pink;
		text-transform: uppercase;
		text-align: left;
		padding-top: 18px;
		padding-left: 25px;
		margin: 0 0 3px;
	}
	&:last-child {
		padding-bottom: 45px;
	}
}
