.logo {
	&__img {
		margin: 21px 0 21px 19px;
		@include text-null;
		height: 45px;
		@media($mobile) {
			width: 100px;
		}
		@media($tablet) {
			margin: 30px 0 21px 19px
		}
	}
	&__img--mobile {

		@media($tablet) {
			display: none;
		}
		@media($desktop) {
			display: none;
		}
	}

	&__img--tablet {
		@media($mobile) {
			display: none;
		}
		@media($desktop) {
			display: none;
		}
	}
	&__img--desktop {
		@media($mobile) {
			display: none;
		}
		@media(max-width:959px) {
			display: none;
		}
	}
}

	svg:hover #svg-menu-style {
		fill: $color-pink;
	}

		svg:active #svg-menu-style {
		fill: darken($color-white, 30%);
	}
