.main-menu {
	// display: none;
	&__list {
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
		background: $color-outer-space;
		margin: 0;
		padding: 0;
		@media screen and ($mobile) {}
	}
	&__item {
		list-style-type: none;
		min-height: 64px;
	}
	&__link {
		@include link-decoration;
		display: block;
		padding: 20px 0;
		border-bottom: 1px solid #000;
	}
	&__btn {
		display: block;
		background: url(../img/menu-burger.svg) no-repeat;
		width: 50px;
		height: 24px;
		cursor: pointer;
		@include text-null;
		float: right;
		margin: 20px 20px;
	}
}
