.page-form {

	&__desription {
		text-align: center;
		@include wrapper;
		color: $color-outer-space;
		line-height: 2;

		@media($tablet) {
			padding-top: 100px;
			font-size: $font-size-middle;
			width: 635px;
			padding-left: 60px;
			margin-bottom: 0;
		}
	}

	&__description--please {
		padding-top: 0;
		margin-top: 0;
		padding-bottom: 20px;
	}
}

.page-form input[type=text] {
	@include wrapper;
	color: #000;
	margin: 0 auto;
	padding: 17px 20px 13px;
	box-sizing: border-box;

	@media($mobile) {
		width: calc(100% - 50px);
	}
}

.page-form input[type=file] {
	position: absolute;
	left: 20px;
	top: 98px;
	display: block;
	opacity: 0;
	z-index: 1000;
	cursor: pointer;

	@media($tablet) {
		top: 40px;
	}
}
