.page-form {

 &__desription {
	text-align: center;
	@include wrapper;
	color: $text-grey;
	line-height: 2;
	}
}


.page-form input[type=text] {
	@include wrapper;
	color: #000;
	margin: 0 auto;
	padding: 17px 20px 13px;
	width: calc(100% - 126px)

}

.page-form input[type=file] {
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		opacity: 0;
		z-index: 1000;
		cursor: pointer;
}
