.page-form {

	&__desription {
		text-align: center;
		@include wrapper;
		color: $color-outer-space;
		line-height: 2;

		@media($tablet) {
			padding: 100px 45px 30px;
			font-size: $font-size-middle;
			width: 635px;
			margin-bottom: 0;
		}

		@media($desktop) {
			margin: 0 auto;
			width: 100%;
		}
	}
}

.page-form input[type=text] {
	@include wrapper;
	color: #000;
	margin: 0 auto;
	padding: 17px 20px 13px;
	box-sizing: border-box;


}

.page-form input[type=file] {
	position: absolute;
	left: 20px;
	top: 98px;
	display: block;
	opacity: 0;
	z-index: 1000;
	cursor: pointer;

	@media($mobile) {
		top: 56px;
		left: 0;
	}
	@media($tablet) {
		top: 40px;
	}

	@media($desktop) {
		left: 0px;
	}
}
