.photo-action {

&__btn {
	cursor: pointer;
	@include text-decoration;
	color: $text-grey;
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
	background: $white;
	border: 2px solid #e6e6e6;
	margin: 0 auto;
	padding: 17px 0 12px;
	text-align: center;
	}

&__photo-preview {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	@include wrapper;
	padding-top: 30px;
	}

&__img {
	margin: 0px 20px 45px 20px;
	}
&__img-wrap {
	position: relative;
}

&__img-wrap:after {
	content: "";
	position: absolute;
	z-index: 99999;
	right: 10px;
	top: -10px;
	width: 34px;
	height: 34px;
	background: url(../img/delete-photo-btn.png) no-repeat;
	}

}
