.plus-minus {

display: flex;

&__btn {

	flex-shrink: 0;
	padding: 16px 0;
	width: 63px;
	font-size: 27px;
	font-weight: 700;
	border-radius: 3px 0 0 3px;
	background: $white;

}
&__input {
	border: 2px solid $grey
}


}

.minus {
	border-top: 2px solid $grey;
	border-left: 2px solid $grey;
	border-bottom: 2px solid $grey;
	border-right: none;
}

.plus {
	border-top: 2px solid $grey;
	border-right: 2px solid $grey;
	border-bottom: 2px solid $grey;
	border-left: none;
}
