.plus-minus {
	display: flex;

	@media($tablet) {
		width: 40%;
	}

	&__btn {
		flex-shrink: 0;
		padding: 16px 0;
		width: 63px;
		font-size: 27px;
		font-weight: 700;
		border-radius: 3px 0 0 3px;
		background: $color-white;

		@media($tablet) {
			height: 60px;
			padding: 0;
		}
	}
	&__input {
		border: 2px solid $color-grey;

		@media($tablet) {
			width: 120px;
			height: 60px;
		}
	}
}

.minus {
	border-top: 2px solid $color-grey;
	border-left: 2px solid $color-grey;
	border-bottom: 2px solid $color-grey;
	border-right: none;

		@media($tablet) {
		border-right: 2px solid $color-grey;
	}
}

.plus {
	border-top: 2px solid $color-grey;
	border-right: 2px solid $color-grey;
	border-bottom: 2px solid $color-grey;
	border-left: none;

	@media($tablet) {
		border-left: 2px solid $color-grey;
	}
}
