.wrapper {
	position: relative;
	min-height: 440px;
}

.price-table {
	display: inline-flex;
	justify-content: space-around;
	// position: absolute;


	&__col {

	}

	&__title {
		background: $text-grey;
		@include text-decoration;
		text-align: center;
		min-height: 74px;
		padding-top: 24px;
	}
	&__item {
		min-height: 59px;
		min-width: 277px;
	}

	&__text {
		text-align: left;
		display: inline-block;
		padding-left: 22px;
	}

	&__glifes {
		text-align: right;
		display: inline-block;
		padding-left: 85px;
	}
}

.base {
	position: absolute;
	right: 301px;

}

.standart {
	position: absolute;
	left: 20px;
}

.unlim {
	position: absolute;
	right: -255px;
}










// .price-table {
// 	display: table;
// 	border-collapse: collapse;


// 	&__row {
// 	display: table-row;
// }

// 	&__box {
// 	display: table-cell;
// 	text-align: left;
// 	vertical-align: top;
// 	border: 1px solid black;
// 	}

// 	&__title {
// 		display: table-cell;
// 		background: $text-grey;
// 		@include text-decoration;
// 		text-align: center;
// 		border-left: 1px solid #e6e6e6;
// 		border-right: 1px solid #e6e6e6;
// 	}
// }
