.price-table {

	display: table;

&__column {

}

&__column-group {

}

&__content {
	width: 100%;
}

&__list {
	display: table-row;

}

&__header {
	display: table-cell;
	width: 100%;
}

&__header--title {
	display: table-cell;
		font-family: $font-family;
		font-size: 18px;
		font-weight: 400;
		width: 150px;

}

&__title {

}


&__sale {

}

&__cell {
	display: table-cell;
	width: 33.33333333333%;
	padding: 0 0 0 70px;
}

&__cell {

}

}
