.price-table {
	background: #f2f2f2;

	&__header {
		padding: 20px;
		text-transform: uppercase;
		background: $text-blue;

		@include text-style-base;
	}

	&__title {
		font-size: 18px;
		line-height: 25px;
		font-weight: 700;
	}
}

	&__sale {
		font-size: $font-size-title;
		// line-height: 35px
		line-height: 0.68;
		font-weight: 300;
	}
