 .promo-box {
		background: $color-smoke;
		width: 100%;
	 	padding-top: 55px;

	 	display: flex;
		flex-direction: column-reverse;

		@media($tablet) {
				flex-direction: row;
				justify-content: space-around;
				align-content: center;
}

		@media($desktop) {
				flex-direction: column;
	}

	&:before {
		content: " ";
		display: block;
		width: 100%;
		@media($tablet) {
			background: url(../img/triangle-white.svg) no-repeat;
		}
	}


&__row {

	@include wrapper;

	@media($tablet) {
		width: 50%;
	}

	@media($desktop) {
		width:100%;
		display:flex;
	}

}

&__item {
	text-align: center;

	@media screen and ($desktop) {
		display:inline-flex;
			justify-content: space-around;
			width:33.333333%;
	}
}

&__item--no-img {
		display: none;
}

		&__subtitle {
			text-align: center;
			@include wrapper;

			@media screen and ($tablet) {
				text-align: left;
			}
		}
		&__description {
			@include wrapper;
			text-align: center;
			color: $text-color;

			@media screen and ($tablet) {
				text-align: left;
			}
		}
}

