.label-radio {
	line-height: 30px;
	padding-left: 50px;
	padding-top: 30px;

		@media($tablet) {
			padding-left: 90px;
	}
	&:before {
		cursor: pointer;
		content: "";
		position: absolute;
		width: 35px;
		height: 35px;
		background-color: #fff;
		border-radius: 50%;
		border: 2px solid $color-smoke;
		left: 0;

		@media($tablet) {
			left: 40px;
		}
	}
}

.page-form input[type="radio"] {
	position: relative;
	margin: 10px;
	display: none;
}

.page-form input[type=radio]:checked + label:after {
	// content: "\2022";
	content: "";
	position: absolute;
	left: 10px;
	top: 40px;
	width: 15px;
	height: 15px;
	background-color: $color-pink;
	border-radius: 50%;
	z-index: 100;

	@media($tablet) {
		left: 50px;
	}
}
