.quote {

	&__text {
		color: text-content;
		line-height: 2;
	}

	&__footer {
		text-align: center;
	}

	&__description {

}

}

.author {

	 // @media screen and ($mobile) {
	//    .author_info {
	//    	opacity: 0;
	//    }
	 // }
		color: text-content;
		font-weight: 800;
		font-style: normal;
}
