.quote {
	@include wrapper;
	&__text {
		color: $text-color;
		line-height: 2;
		text-align: center;
		width: 280px;
	}
	&__footer {
		text-align: center;
	}
	&__description {}
	@media screen and ($mobile) {
		&__author-info {
			display: none;
		}
	}
}

.author {
	color: text-content;
	font-weight: 800;
	font-style: normal;
}
