.slider {
	position: relative;
	@media screen and ($tablet) {
	height: 280px;
	}

	@media screen and ($desktop) {
	height: 415px;
	}

	&:after {
		@media($desktop){
		content: " ";
		display: block;
		position: absolute;
		width: 100%;
		height: 90px;
		background: url(../img/triangle-white.svg) no-repeat;
		bottom: -90px;
		z-index: 99;
		}

	}
}
.quote {
	@include wrapper;

	@media screen and ($tablet) {
			width: 640px;

		}

	@media screen and ($desktop) {
	width: 950px;
	padding-top: 170px;

}

	&__text {
		color: $text-color;
		line-height: 2;
		text-align: center;
		width: 280px;

		@media screen and ($tablet) {
			width: 590px;
		}

		@media screen and ($desktop) {
		width: 910px;
		padding: 0px 140px;
	}



	}

		&__text:before {
			@media($desktop) {
				background: url(../img/quotes.svg) no-repeat;
				position: absolute;
				top: 70px;
				left: 46%;
				display: block;
				width: 78px;
				height: 65px;
				content: " ";
			}
		}


	&__footer {
		text-align: center;

		@media screen and ($tablet) {
			padding-top: 5px;
		}
	}

	&__description {}
	@media screen and ($mobile) {
		&__author-info {
			display: none;
		}
	}
}

.author {
	color: text-content;
	font-weight: 800;
	font-style: normal;
}
