.timer {
	@media screen and ($mobile) {
		display: none;
	}

	@media screen and ($tablet) {
		@include wrapper;
		min-height: 400px;
		padding-top: 45px;
		display: flex;
	}

	&__inner {
		font-size: 85px;
		font-weight: 800;
		height: 210px;
		width: 189px;
		margin: 0 auto;
		text-align: center;
		color: $color-pink;
		border: 12px solid;
		border-radius: 150px;
		padding-left: 0px;
		padding-top: 25px;
		width: 210px;


	}

	&__outer {
		background: url(../img/timer.svg) no-repeat;
		background-size: 260px;
		height: 345px;
		padding: 66px 42px 0px 0px;
	}

	&__wrap {
		width: 300px;
	}

	&__wrap--text {
		@media($desktop) {
			width: 620px;
			padding: 0 45px;
		}
	}

	&__title {
		font-size: 29px;
		width: 180px;

		@media($desktop) {
			width: 290px;
		}
}


	&__text {
		color: $text-color;
	}

	&__link {
		color: $color-pink;
	}
	}
